@import '../../css/variables.scss';

.container {
    background-color: $blue-800;
    padding: 0 24px;
    font-family: $font-primary;
    height: 100vh;

    .logo {
        margin-top: 50px;
        margin-left: 40px;
    }

    &-main {

        .build {
            margin-left: 90px;
        }

        @media(min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    @media(min-width: 1024px) {
        padding: 0 68px;
    }

    @media(min-width: 1330px) {
        padding: 0 96px;
    }
}