@import '../../css/variables.scss';

.container {
    background-color: $blue-800;
    font-family: $font-primary;
    height: 100vh;
    padding-top: 50px;

    .logo {
        display: block;
        margin: auto;
        margin-bottom: 20px;

        @media(min-width: 1024px) {
            display: unset;
            margin: unset;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }

    &-main {
        display: flex;
        flex-direction: column-reverse;

        .build {
            display: none;

            @media(min-width: 768px) {
                display: block;
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
            }

            @media(min-width:1024px) {
                position: unset;
                transform: unset;
                width: 55%;
            }
        }

        @media(min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: unset;
        }
    }

    @media(min-width: 1024px) {
        padding: 0 68px;
    }

    @media(min-width: 1330px) {
        padding: 0 96px;
    }
}