// Epilogue - Light
@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue Light'), local('Epilogue-Light'), url('../assets/fonts/epilogue/Epilogue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// Epilogue - Regular
@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue Regular'), local('Epilogue-Regular'), url('../assets/fonts/epilogue/Epilogue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// Epilogue - Medium
@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue Medium'), local('Epilogue-Medium'), url('../assets/fonts/epilogue/Epilogue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// Epilogue - Bold
@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue Bold'), local('Epilogue-Bold'), url('../assets/fonts/epilogue/Epilogue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}