//Fonts

$font-primary: 'Epilogue', Helvetica, Arial, sans-serif;
$font-secundary: 'Inter', Helvetica, Arial, sans-serif;

//Colors

$white: #ffffff;
$black: #000000;
$divider: #ebeff2;
$blue-800: #00113d;
$blue-600: #213770;
$blue-500: #293D71;
$blue-200: #747d94;
$orange-700: #F21A05;
$orange-500: #f21a05;
$orange-400: #f43724;
$gray: #f5f6f8;
$gray-100: #eaecf0;
$gray-400: #B7B7B7;
$gray-500: #777777;