.grid {
    display: grid;
    grid:
        "sidebar pesquisa" 60px "sidebar main-content" 1fr / 260px 1fr;
    height: 100vh;
    width: 100%;

}

.sidebar {
    grid-area: sidebar;
}

.pesquisa {
    grid-area: pesquisa;
}

.main-content {
    grid-area: main-content;
}